.buttons_number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons_number:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.buttons_operands {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.operands {
    display: flex;
    flex-direction: row;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

body {
    background-color: dimgray;
}